{% extends "DataEntry/header_block.html" %}
{% load highlight %}


{% block page_title %}
   Search:
{% endblock %}

{% block banner_title %}
   Search:
{% endblock %}

{% block content %}

    {% if view_choice %}
         <img id="listview" src="/media/project/view_list.gif" alt="list"  title="list"/> &nbsp;
         <img id="thumbListview" src="/media/project/view_thumblist.gif" alt="thumb list" title="thumb list" /> &nbsp;
         <img id="2colview" src="/media/project/view_2col.gif" alt="2 columns" title="2 columns"/> &nbsp;
         <img id="galleryview" src="/media/project/view_gallery.gif" alt="gallery" title="gallery"/> &nbsp;
    {% endif %}

    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Results</h3>

    <div class="content ">
        <ul id="resultList" class="single">
            {% for result in page.object_list %}
                <li>
                 {% if result.thumbnail %}
                    <div class="thumbbox"><a href="/contribute/{{ record.object.id}}/{{ record.object.slug }}"><img src="{{ result.thumbnail }}" alt="{{ result.title }}" /></a></div>
                 {% else %}
                    <div class="thumbbox"><a href="/contribute/{{ record.object.id}}/{{ record.object.slug }}"><img src="/media/project/DigitalTree-with-ODWweb2.gif" alt="{{ result.title }}" /></a></div>
                {% endif %}
                    <a href="/contribute/{{ result.object.id }}/{{ result.object.slug }}">{{ result.title }}</a>
                    {% if result.text %}
                        <div class="description">{% highlight result.text with query html_tag "strong"  max_length 300%}</div>
                        <div class="description_truncate">{% highlight result.text with query html_tag "strong" max_length 40 %}</div>
                    {% elif result.description %}
                        <div class="description">{{ result.description }}</div>
                        <div class="description_truncate">{{record.description|truncatewords_html:20}}</div>
                    {% endif %}
                </li>


            {% empty %}
                <p>No results found.</p>
            {% endfor %}
        </ul>

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}