{% extends "DataEntry/header_block.html" %}

{% load static %}
{% block page_title %}
   {{ record.title }}
{% endblock %}


{% block banner_title %}
    {{ record.title }}
{% endblock %}


{% block content %}

    {% if message %}
    <div class="alert">{{ message }}</div>
    {% endif %}
{{ site_settings.ConLabelReviewContribution }}<br/>
<hr>
<fieldset class="module">
    <fieldset id="review1">
        <div class="fieldContent">
            {% for file_object in recordobject %}
                {% if file_object.record_object_category_id == 1  %}
                    <div class="pictureBlock">
                        <img src="/media/project/{{ file_object.file_name }}" alt="{{ record.title }}" />
                   </div>
                    {% if do_rotate %}
                <button id="rotate_link">Rotate image</button>
                     {% endif %}
                {% elif file_object.record_object_category_id == 2 %}
                    <button id="view_full">{{ site_settings.ConLabelSeeFull }}</button>
                    <div id="modal_full" >
                        <img src="/media/project/{{ file_object.file_name }}"  alt="{{ record.title }}" />
                    </div>
                    <br/><br/>
                {% endif %}
            {% endfor %}
            {% if record.description %}
            <div class="label">{{ site_settings.ConLabelDescription }}</div>
            <div id="description">{{ record.description|linebreaks }}</div>
            {% endif %}
            {% if record.full_text %}
            <label for="full_text">{{ site_settings.ConLabelStory }}</label>
            <div id="full_text">{{ record.full_text|linebreaks }}</div>
            {% endif %}
            <br/>
        {% if geodata %}
            <dl id="geographyChecklist">
                {% for geo in geodata %}
                   <dt>{{ geo.name }}
                   {% if geo.admin1text %}
                       , {{ geo.admin1text }}
                    {% endif %}
                    , {{ geo.countrytext }}</dt>
                    <dd>{{ geo.latitude }}, {{ geo.longitude }}</dd>
                {% endfor %}
            </dl>
            <div id="geoLatLng" class="hide-text"> {% for geo in geodata %}{{ geo.latitude }}|{{ geo.longitude }}|{{ geo.name }};{% endfor %}</div>
            <div id="map_canvas" style="width: 100%; height: 300px"></div>
            <br/>
        {% endif %}
            <div class="label">{{ site_settings.ConLabelContributor }}</div>
            <div id="id_contributor">
              {{ record.contributor }}
                <a href="mailto:{{ record.contributor_email }}">{{ record.contributor_email }}</a><br/>
                <div class="alert">
                {% if record.contributor_name_permission == True %}
                    {{ site_settings.ConLabelNamePermissionYes }}
                {% else %}
                   {{ site_settings.ConLabelNamePermissionNo }}
                {% endif %}
                </div>
            </div>
            <br/>
           <div class="label">{{ site_settings.DetLabelCreativeCommons }}</div><br/>
            <img id="id_rights" src="{% static "img/by-nc-sa.png" %}" alt="BY-NC-SA">
            <br/>
             <div class="upload_terms">
                {% include 'DataEntry/help/help_upload_terms.html' %}
            </div>
        </div>

        <div class="step_help">
            {% include 'DataEntry/help/help_review.html' %}
        </div>

    </fieldset>
    <div class="update">
        {% if record.contributor_email %}
        <button id="submit_link">{{ site_settings.ConLabelConfirm }}</button>
        {%endif%}
        <button id="edit_link">{{ site_settings.ConLabelEdit }}</button>
        <button id="delete_dialog">{{ site_settings.ConLabelDelete }}</button>
        <div id="dialog-confirm" title="{{ site_settings.ConLabelDeleteTitle }}">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>{{ site_settings.ConLabelDeleteText }}</p>
        </div>
    </div>
</fieldset>

{% endblock %}