{% extends "DataEntry/header_block.html" %}

{% load staticfiles %}
{% block page_title %}
   {{ record.title }}
{% endblock %}


{% block content %}



   <h1>{{ record.title }}</h1>

    {% if message %}
    <div class="alert">{{ message }}</div>
    {% endif %}
{{ site_settings.ConLabelReviewContribution }}<br/>
<hr>
<fieldset class="module">
    <fieldset id="review1">
        <div class="fieldContent">
            {% for file_object in recordobject %}
                {% if file_object.record_object_category_id == 1  %}
                    <div class="pictureBlock">
                        <img src="/media/project/{{ file_object.file_name }}" />
                   </div>
                {% elif file_object.record_object_category_id == 2 %}
                    <button id="view_full">{{ site_settings.ConLabelSeeFull }}</button>
                    <div id="modal_full" >
                        <img src="/media/project/{{ file_object.file_name }}" />
                    </div>
                    <br/><br/>
                {% endif %}
            {% endfor %}
            {% if record.description %}
            <label for="description">{{ site_settings.ConLabelDescription }}</label>
            <div id="description">{{ record.description|linebreaks }}</div>
            {% endif %}
            {% if record.full_text %}
            <label for="full_text">{{ site_settings.ConLabelStory }}</label>
            <div id="full_text">{{ record.full_text|linebreaks }}</div>
            {% endif %}
            <br/>
        {% if geodata %}
            <label for="location">{{ site_settings.ConLabelLocation }}</label>
            <div id="location">
                {% for geo in geodata %}
                   {{ geo.name }}
                   {% if geo.admin1text %}
                       , {{ geo.admin1text }}
                    {% endif %}
                    , {{ geo.countrytext }}:
                    {{ geo.latitude }}, {{ geo.longitude }}
                    <br/>
                {% endfor %}
            </div>
            <div id="geoLatLng" class="hide-text"> {% for geo in geodata %}{{ geo.latitude }}|{{ geo.longitude }}|{{ geo.name }};{% endfor %}</div>
            <div id="map_canvas" style="width: 400px; height: 300px"></div>
            <br/>
        {% endif %}
            <label for="contributor">{{ site_settings.ConLabelContributor }}</label>
            <div id="contributor">
              {{ record.contributor }}
                <a href="mailto:{{ record.contributor_email }}">{{ record.contributor_email }}</a><br/>
                <div class="alert">
                {% if record.contributor_name_permission == True %}
                    {{ site_settings.ConLabelNamePermissionYes }}
                {% else %}
                   {{ site_settings.ConLabelNamePermissionNo }}
                {% endif %}
                </div>
            </div>
            <br/>
            <label for="id_rights">{{ site_settings.DetLabelCreativeCommons }}</label><br/>
            <img id="id_rights" src="{% static "img/by-nc-sa.png" %}" alt="BY-NC-SA">
        </div>

        <div class="step_help">
            <div id="finalSubmit">
                {% if site_settings.SiteLanguage == 'fr' %}
                Faire un examen final, ajouter ou modifier toute information manquante, ensuite  - {{ site_settings.ConLabelConfirm|upper }}
                {%else%}
                Do a final review, edit/add any missing information, then  - {{ site_settings.ConLabelConfirm|upper }}
                {%endif%}
            </div>
            {% comment  %}
                 block to push warnings if preferred fields not entered
            {% endcomment %}
             {% if site_settings.SiteLanguage == 'fr' %}
                {% if recordobject and not record.description  %}
                    <div class="alert">Descriptions are really useful<br/></div>
                {% endif %}
                {% if not recordobject and not record.full_text   %}
                    <div class="alert">We didn't get your story<br/></div>
                {% endif %}
                {% if not geodata  %}
                    <div class="alert">Is it possible to tell us where?<br/></div>
                {% endif %}
                {% if not record.contributor_email %}
                    <div class="alert">We won't make it public, but your email contact information is required.<br/></div>
                {% endif %}
            {% else %}
                {% if recordobject and not record.description   %}
                    <div class="alert">Descriptions are really useful<br/></div>
                {% endif %}
                {% if not recordobject and not record.full_text   %}
                    <div class="alert">We didn't get your story<br/></div>
                {% endif %}
                {% if not geodata  %}
                    <div class="alert">Is it possible to tell us where?<br/></div>
                {% endif %}
                {% if not record.contributor_email %}
                    <div class="alert">We won't make it public, but your email contact information is required.<br/></div>
                {% endif %}

            {% endif %}

        </div>

    </fieldset>
    <div class="update">
        {% if record.contributor_email %}
        <button id="submit_link">{{ site_settings.ConLabelConfirm }}</button>
        {%endif%}
        <button id="edit_link">{{ site_settings.ConLabelEdit }}</button>
        <button id="delete_dialog">{{ site_settings.ConLabelDelete }}</button>
        <div id="dialog-confirm" title="{{ site_settings.ConLabelDeleteTitle }}">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>{{ site_settings.ConLabelDeleteText }}</p>
        </div>
    </div>
</fieldset>

{% endblock %}