{% extends "DataEntry/header_block.html" %}

{% load static %}
{% block page_title %}
   {{ record.title }}
{% endblock %}


{% block banner_title %}
    {{ record.title }}
{% endblock %}

{% block content %}

{{ site_settings.ConLabelReviewEdit }}<br/>
<hr>
<form action="{{ site_identifier }}{{ record.id }}/update/" method="post" >
        {% csrf_token %}
    <fieldset class="module">
        <div class="update">
            <input type="submit" value="{{ site_settings.ConLabelSubmitEdit }}" />
        </div>
        <fieldset id="edit1">
            <div class="fieldContent">
            {% for file_object in recordobject %}
                {% if file_object.record_object_category_id == 1  %}
                    <div class="pictureBlock">
                        <img src="/media/project/{{ file_object.file_name }}"  alt="{{ record.title }}" />
                   </div>
                {% endif %}
            {% endfor %}
                <label for="id_title">{{ site_settings.ConLabelTitle }}</label>
                <div id="title">
                <input id="id_title" type="text" name="title"  value="{% if record.title %}{{ record.title }}{% endif %}"  />
                </div>
            </div>
            {% for file_object in recordobject %}
                {% if file_object.record_object_category_id == 1  %}
             <div class="step_help">
            {% include 'DataEntry/help/rotate_image_block.html' %}
             </div>
                {% endif %}
            {% endfor %}
        </fieldset>
        <fieldset id="edit1a">
            <div class="fieldContent">
                <label for="id_description">{{ site_settings.ConLabelDescription }}</label>
                <div id="description">
                    <textarea id="id_description" name="description" class="textcommon">{% if record.description %}{{ record.description}}{% endif %}</textarea>
                </div>

                <label for="id_full_text">{{ site_settings.ConLabelStory }}</label>
                <div id="full_text">
                    <textarea id="id_full_text" name="full_text" class="textcommon">{% if record.full_text %}{{ record.full_text }}{% endif %}</textarea>
                </div>
            </div>
             <div class="step_help">
            {% include 'DataEntry/help/help_text_blocks.html' %}
             </div>
        </fieldset>

        <fieldset id="edit3">
            <div class="fieldContent">
                <div class="label">{{ site_settings.ConLabelContributor }}</div>
                <div id="contributor">
                    <label for="id_contributor">{{ site_settings.ConLabelName }}</label><input id="id_contributor" type="text" name="contributor" value="{% if record.contributor %}{{ record.contributor }}{% endif %}" class="metatext"/>
                    <br/>
                    <label for="id_contributor_email">{{ site_settings.ConLabelEmail }}</label><input id="id_contributor_email" type="text" name="contributor_email" value="{% if record.contributor_email %}{{ record.contributor_email }}{% endif %}" class="metatext" />
                    <br/><br/>
                    <label> {{ site_settings.ComLabelNameOK }}</label><br/>
                    <input id="id_contributor_name_permission_yes" name="contributor_name_permission" type="radio" value="True" {% if record.contributor_name_permission == True %}checked="checked" {% endif %}/> <label for="id_contributor_name_permission_yes">{{ site_settings.NBLabelYes }}</label>
                    <input id="id_contributor_name_permission_no" name="contributor_name_permission" type="radio" value="False" {% if record.contributor_name_permission == False%}checked="checked" {% endif %}/> <label for="id_contributor_name_permission_no">{{ site_settings.NBLabelNo }}</label>
                </div>
            </div>
            <div class="step_help">
                {% include 'DataEntry/help/help_contributor.html' %}
            </div>
        </fieldset>

        <fieldset id="edit4">
            <div class="fieldContent">
                <div class="label">{{ site_settings.DetLabelCreativeCommons }}</div><br/>
                <img id="id_rights" src="{% static "img/by-nc-sa.png" %}" alt="BY-NC-SA">
                <br/>
                <br/>
                  <input type="hidden" name="rights" value="3" />
                 <div class="upload_terms">
                    {% include 'DataEntry/help/help_upload_terms.html' %}
                </div>
            </div>
             <div class="step_help">
                {% include 'DataEntry/help/help_rights.html' %}
             </div>
        </fieldset>
        <div class="update">
            <input type="submit" value="{{ site_settings.ConLabelSubmitEdit }}" />
        </div>
    </fieldset>
</form>


{% endblock %}