{% extends "DataEntry/banner_block.html" %}

{% load static %}

{% block header %}
    <title>{{ site_settings.SiteName }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/widgets.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/changelists.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" type="text/css" href="{{ site_settings.CSS }}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/contribute61.css" %}" />
 {% if jQuery %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="{% static "js/jquery.query-2.1.7.js" %}" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/jquery-ui.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/themes/base/jquery-ui.min.css" />

    {% endif %}
    {% if delete_dialog %}

       <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
       <script type="text/javascript">
        $(function() {
            var csrftoken = Cookies.get('csrftoken');

            $( "#edit_link" ).click(function() {
                window.location = '{{ site_identifier }}{{ record.id }}/edit/'
            });
            $( "#rotate_link" ).click(function() {
                window.location = '{{ site_identifier }}{{ record.id }}/edit/'
            });
            $( "#submit_link" ).click(function() {
                window.location = '{{ site_identifier }}{{ record.id }}/confirm/'
            });
            $( "#delete_dialog" ).click(function() {
                $( "#dialog-confirm" ).dialog( "open" );
            });
            $( "#dialog-confirm" ).dialog({
                autoOpen: false,
                resizable: false,
                modal: true,
                buttons: {
                    "{{ site_settings.ConLabelDeleteSubmit }}": function() {
                        $( this ).dialog('option', 'close', function() {window.location.href = "{{ site_identifier }}{{ record.id }}/delete/";});
                        $( this ).dialog( "close" );
                    },
                    "{{ site_settings.ConLabelDeleteCancel }}": function() {
                        $( this ).dialog( "close" );
                    }
                }
            });
            $( "#view_full" ).click(function() {
                $( "#modal_full" ).dialog( "open" );
            });
            $( "#modal_full" ).dialog({
                autoOpen: false,
                resizable: false,
                width: 'auto',
				autoResize: true,
                modal: true,
                buttons: {
                    "{{ site_settings.ConLabelDeleteCancel }}": function() {
                        $( this ).dialog( "close" );
                    }
                }
            });
        });
       </script>
    {% endif %}

    <script type="text/javascript">
        $(document).ready(function(){
            if(document.getElementById('#id_full_text') != null){
                var txt = $('#id_full_text'),
                hiddenDiv = $(document.createElement('div')),
                content = null;
                txt.addClass('txtstuff');
                hiddenDiv.addClass('hiddendiv textcommon');
                $('body').append(hiddenDiv);
                content = txt.val();
                content = content.replace(/\n/g, '<br>');
                hiddenDiv.html(content + '<br class="lbr">');
                txt.css('height', hiddenDiv.height());
                txt.on('keyup', function () {
                    content = $(this).val();
                    content = content.replace(/\n/g, '<br>');
                    hiddenDiv.html(content + '<br class="lbr">');
                    $(this).css('height', hiddenDiv.height());
                });
            }

            if(document.getElementById('#id_description') != null) {
                var txt2 = $('#id_description'),
                hiddenDiv2 = $(document.createElement('div')),
                content2 = null;
                txt2.addClass('txtstuff');
                hiddenDiv2.addClass('hiddendiv textcommon');
                $('body').append(hiddenDiv2);
                content2 = txt2.val();
                content2 = content2.replace(/\n/g, '<br>');
                hiddenDiv2.html(content2 + '<br class="lbr">');
                txt2.css('height', hiddenDiv2.height());
                txt2.on('keyup', function () {
                    content2 = $(this).val();
                    content2 = content2.replace(/\n/g, '<br>');
                    hiddenDiv2.html(content2 + '<br class="lbr">');
                    $(this).css('height', hiddenDiv2.height());
                });
            }

           $('#terms_statement').hide();
           $('#terms_show').click(function () {
               $('#terms_show').hide();
               $('#terms_statement').show();
           });
           $('#terms_hide').click(function () {
               $('#terms_show').show();
               $('#terms_statement').hide();
           });
		});
    </script>
	<script>
	function validate(file) {
        var ext = file.split(".");
        ext = ext[ext.length-1].toLowerCase();
        var arrayExtensions = {{ allowed_extensions|safe }}
        if (arrayExtensions.lastIndexOf(ext) == -1) {
            {% if site_settings.SiteLanguage == 'en' %}
            var warning = "The file you are uploading has a file extension of : " +
                ext +"\nThis file format is not supported.\nAcceptable file formats are: " +
                {{ allowed_extensions|safe }};
            {% elif site_settings.SiteLanguage == 'fr' %}
            var warning = "Le fichier que vous téléchargez a une extension de : " +
                ext +"\nCe format n'est pas pris en charge.\nLes formats de fichiers acceptés sont: " +
                {{ allowed_extensions|safe }};
            {% endif %}
            alert(warning);
            $("#id_image_file").val("");
        }
    }
	</script>
    {% if upload %}
            <style>
                .progress-wrapper {
                    width:100%;
                }
                .progress-wrapper .progress {
                    background-color:green;
                    width:0%;
                    padding:5px 0px 5px 0px;
                }
            </style>
        <script>
            function postFile() {
                var formdata = new FormData();
                formdata.append('image_file', $('#image_file')[0].files[0]);
                var request = new XMLHttpRequest();
                request.upload.addEventListener('progress', function (e) {
                    var file1Size = $('#image_file')[0].files[0].size;
                    if (e.loaded <= file1Size) {
                        var percent = Math.round(e.loaded / file1Size * 100);
                        $('#progress-bar-file1').width(percent + '%').html(percent + '%');
                    }
                    if(e.loaded == e.total){
                        $('#progress-bar-file1').width(100 + '%').html(100 + '%');
                    }
                });
                request.open('post', '/echo/html/');
                request.timeout = 45000;
                request.send(formdata);
            }
        </script>
    {% endif %}

{% endblock %}

