{% extends "DataEntry/header_block.html" %}

{% load staticfiles %}

{% block page_title %}
   {{ site_settings.ConSiteTitle }}
{% endblock %}

{% block banner_title %}
   {{ site_settings.ConSiteTitle }}
{% endblock %}



{% block content %}
<div id="intro">
    <div id="intro_twothirds">
        <div class="upload_confirm">
        {% if vita_url and site_settings.ConPublicDisplay == '1'%}
            {% if vita_thumb_url %}
              <a href="{{ vita_url }}" ><img src="{{ vita_thumb_url }}" alt="contribution"/></a>
            {% endif %}
            {{ site_settings.ConPublicMessage1|safe }} <a href="{{ vita_url }}" >{{ vita_url }}</a>
        {% elif vita_thumb_url %}
              <img src="{{ vita_thumb_url }}" alt="contribution"/>
        {% endif %}
            {{ message }}
        </div>

        <div class="upload_intro">
        {{ site_settings.ConLabelIntro|safe }}
        </div>

         <div class="upload_terms">
            {% if site_settings.SiteLanguage == 'en' %}
                <input type="checkbox" id="terms" name="terms" /> <label for="terms">I agree to the <strong>Terms of Use</strong></label>.
        {% elif site_settings.SiteLanguage == 'fr' %}
                <input type="checkbox" id="terms" name="terms" /> Je suis d'accord à ces <strong>Conditions d'utilisation</strong>.
             {% endif %}
            {% include 'DataEntry/help/help_upload_terms.html' %}
        </div>
        <div id="intro_choice">
        {% if site_settings.ConIncludeImage == '1' and site_settings.ConIncludeStory == '1'%}
            {% if site_settings.ConIncludeImage == '1' %}
                <input type = "button" id="id_send_file" value="{{ site_settings.ConLabelSendFile }}" />
            {% endif %}
            {% if site_settings.ConIncludeStory == '1' %}
                <input type = "button" id="id_send_story" value="{{ site_settings.ConLabelTellStory }}" />
            {% endif %}
        {% endif %}
        </div>
    </div>

    <div id="intro_onethird">

    </div>
</div>

<div class="clear"></div>

<div id="contribute_form">
   <form action="{{ upload_action }}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
      <fieldset class="module">


      <fieldset id="step1">
         <div class="fieldContent">
              <div id="subject_1">
                  <label for="subj">{{ site_settings.ConTuring }}</label>
                  <input type="text" name="subj" id="subj" />
              </div>
            {% ifequal site_settings.ConIncludeImage '1'%}
                <div id="id_image_upload_block">
                    <label for="id_image_file">{{ site_settings.ConLabelPickFile }}</label>
                    <input id="id_image_file" name="image_file" type="file" />
                    <br/>
                </div>
           {% endifequal %}
                <label for="id_title">{{ site_settings.ConLabelTitle }}</label><br/>
                <input class="title" id="id_title" maxlength="256" name="title" type="text" />
         </div>
         <div class="step_help">
            {% include 'DataEntry/help/help_file_type.html' %}
         </div>
      </fieldset>
      <div id="form_body">
      <fieldset id="step2">
        <div class="fieldContent">
            <div id="step2-description">
            {% ifequal site_settings.ConIncludeImage '1'%}
             <label for="id_description">{{ site_settings.ConLabelDescription }}</label><br/>
              <textarea class="textcommon" id="id_description" name="description"></textarea>
            {% endifequal %}
            </div>
            <div id="step2-fulltext">
            {% ifequal site_settings.ConIncludeStory '1'%}
             <label for="id_full_text">{{ site_settings.ConLabelStory }}</label><br/>
              <textarea  class="textcommon" id="id_full_text" name="full_text"></textarea>
            {% endifequal %}
            </div>
         </div>
         <div class="step_help">
            {% include 'DataEntry/help/help_text_blocks.html' %}
         </div>
      </fieldset>

      <fieldset id="step3">
          <div class="fieldContent">
              <div class="formField">
                    {% include 'DataEntry/geography_update_block.html' %}
              </div>

              <div id="map_canvas" style=" width: 400px; height: 400px"> </div>
          </div>
         <div class="step_help">
            {% include 'DataEntry/help/help_geography.html' %}
         </div>
       </fieldset>

      <fieldset id="step4">
          <div class="fieldContent">
           <label for="id_contributor">{{ site_settings.ConLabelContributor }}</label><br/>
          <input class="contributor" id="id_contributor" maxlength="256" name="contributor" type="text" />
          <br/>
          <label for="id_contributor_email">{{ site_settings.ConLabelEmail }}</label><br/>
          <input id="id_contributor_email" name="contributor_email" type="email" />
            <br/>
          <label for="id_contributor_name_permission">{{ site_settings.ComLabelNameOK }}</label>
              <br/>
          <input id="id_contributor_name_permission" name="contributor_name_permission" type="radio" value="True" {% if record.contributor_name_permission == True %}checked="checked" {% endif %}/> {{ site_settings.NBLabelYes }}
          <input name="contributor_name_permission" type="radio" value="False" {% if record.contributor_name_permission == False%}checked="checked" {% endif %}/> {{ site_settings.NBLabelNo }}
          </div>
         <div class="step_help">
            {% include 'DataEntry/help/help_contributor.html' %}
         </div>
         </fieldset>
    {# TODO: display geographic seletion on page for user #}
    {# TODO: fix location of pick list in autocomplete #}
     <fieldset id="step5">
      <div class="fieldContent">
          <p class="common-buttons-block" >
                <input id="upload_submit" type="submit" class="save" value="{{ site_settings.ConLabelButtonUpload }}" />
                <input type="reset" class="save" value="{{ site_settings.ConLabelButtonClear }}" />
          </p>
       </div>
         <div class="step_help">
			<div id="step5help">
            {% include 'DataEntry/help/help_submit.html' %}
			</div>
			<div id="step5warning">
            {% include 'DataEntry/help/help_submit_warning.html' %}
			</div>
         </div>
     </fieldset>
    </div>

      </fieldset>
    </form>
</div>

<script type="text/javascript">
       $( document ).ready(function() {
           $('#form_body').hide();
           $('#step1').hide();

           {% if site_settings.ConIncludeImage == '1' and site_settings.ConIncludeStory == '1' %}
			$('#intro_choice').hide();
		  $('#terms').change(  function() {
			var checked = ($(this).is(':checked'));
			if (checked){
				$('#intro_choice').show();
			}else{
                window.location.reload();
			}
		   });

           $('#id_send_file').on( "click", function( event ) {
              // $('id_image_file').disable(false);
               $('.upload_confirm').hide();
			   $('#intro_choice').html('<h1>{{site_settings.ConLabelSendFile }}</h1>')
               $('#step1').show();
               $('#form_body').show();
               $('#step2-fulltext').hide();
               gMapInitialize();
               $('#id_image_upload_block').show();
               $('#upload_submit').hide();
               $('#step5help').hide();
               $('#step5warning').show();
            });

           $('#id_send_story').on( "click", function( event ) {
               //$('id_image_file').disable(true);
               $('.upload_confirm').hide();
			   $('#intro_choice').html('<h1>{{site_settings.ConLabelTellStory }}</h1>')
               $('#step1').show();
               $('#form_body').show();
               $('#step2-description').hide();
               gMapInitialize();

               $('#id_image_upload_block').hide();
            });
           $('#id_image_file').on( "click", function( event ) {
               $('#upload_submit').show();
               $('#step5warning').hide();
               $('#step5help').show();
            });
			{%else%}
		  $('#terms').change(  function() {
			var checked = ($(this).is(':checked'));
			if (checked){
				$('#step1').show();
			}else{
                window.location.reload();
			}
		   });

           {% endif %}

        });
    </script>
{% endblock %}
